.logo-section {
  padding: 20px 0;
  text-align: center;
  
}

.sidebar-logo {
  width: 140px;         /* 적당한 너비 */
  height: auto;         /* 비율 유지 */
  object-fit: contain;  /* 이미지 잘림 방지 */
  margin: 0 auto;
}
